.infoSection {
  .phoneAndTablets {
    ul {
      li {
        color: #a3a2a2;
        b {
          color: #ff6117;
        }
        span {
          color: #ff6117;
        }
      }
    }
  }
  .computerEquipment {
    ul {
      li {
        color: #a3a2a2;
        b {
          color: #ff6117;
        }
        span {
          color: #ff6117;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .infoSection {
    .phoneAndTablets {
      ul {
        flex-wrap: wrap;
        li {
          color: #a3a2a2;
          b {
            color: #ff6117;
          }
          span {
            color: #ff6117;
          }
        }
      }
    }
    .computerEquipment {
      ul {
        flex-wrap: wrap;

        li {
          color: #a3a2a2;
          b {
            color: #ff6117;
          }
          span {
            color: #ff6117;
          }
        }
      }
    }
  }
}
