.products {
  .xiaomi {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .xiaomiProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }

        .toCartDisabled {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          background-color: #ff6117;
          color: #ffffff;
          font-size: small;
        }
      }
    }
  }

  .samsung {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .samsungProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .apple {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .appleProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .honor {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .honorProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .tecno {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .tecnoProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .infinix {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .infinixProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .laptop {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .laptopProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .pcEquipment {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .pcEquipmentProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .watch {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .watchProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }

  .accessuar {
    margin-bottom: 5rem;
    text-align: center;
    height: auto;

    .accessuarProductsContainer {
      gap: 0.6.5rem;

      .product {
        padding: 5px;
        width: 13rem;
        min-height: 400px;

        .productWarranty {
          position: absolute;
          margin-left: 8.5rem;
          margin-top: 8rem;
        }

        .productImg {
          transition: 0.3s all ease-in-out;
          width: 100%;
          height: auto;
        }

        .productImg:hover {
          cursor: pointer;
          transform: scale(106%);
        }

        span {
          transition: 0.2s all ease-in;
        }

        span:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h1 {
          transition: 0.2s all ease-out;
          margin-bottom: 0.5rem;
          height: 65px;
        }

        h1:hover {
          cursor: pointer;
          color: #ff6117;
        }

        h5 {
          background-color: yellow;
          font-size: 14px;
        }

        button {
          margin-top: 0.5rem;
          padding: 6px 35px;
          border-radius: 30px;
          border: 2px solid #ff6117;
          color: #ff6117;
          font-size: small;
        }
      }
    }
  }
}