.topOption {
  h1 {
    b {
      color: #ff6117;
    }
  }

  .registration {
    h2 {
      transition: 0.2s all ease-in-out;
    }
    h2:hover {
      color: #ff6117;
    }
  }
}
.secondOption {
  .contact {
    .callUs {
      i {
        transition: 0.2s all ease-in-out;
      }
      i:hover {
        color: #ff6117;
      }
      h1 {
        transition: 0.2s all ease-in-out;
      }
      h1:hover {
        color: #ff6117;
      }
      h2 {
        transition: 0.2s all ease-in-out;
      }
      h2:hover {
        color: #ff6117;
      }
    }
    .callUs:hover {
      cursor: pointer;
    }
  }
  .wishAndCart {
    transition: 0.2s all ease-in-out;

    .wish {
      transition: 0.2s all ease-in-out;

      i {
        transition: 0.2s all ease-in-out;
      }
    }
    .cart {
      transition: 0.2s all ease-in-out;

      i {
        transition: 0.2s all ease-in-out;
      }
    }

    .wish:hover {
      cursor: pointer;
      color: #ff6117;

      i {
        color: #ff6117;
      }
    }
    .cart:hover {
      cursor: pointer;
      color: #ff6117;

      i {
        color: #ff6117;
      }
    }
    span {
      color: #ffff;
      padding: 0.5px 8px;
      border-radius: 50%;
      background-color: #ff6117;
    }
  }
}

nav {
  position: sticky;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 6vh;
  background-color: #fff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;

  .dropDownMenu {
    .dropDownContent {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: none;

      .liDiv-1 {
        .phoneMoreCategory {
          border: 1px solid #dddddd;
          display: none;
          transition: 0.2s all ease-in-out;
          margin-left: 18.1rem;
          transform: translateX(-10px);
          top: 1rem;
        }
        &:hover {
          .phoneMoreCategory {
            display: block;
            transform: translateX(0px);
          }
        }
      }
      .liDiv-2 {
        .tabletMoreCategory {
          border: 1px solid #dddddd;
          display: none;
          transition: 0.2s all ease-in-out;
          margin-left: 18.1rem;
          transform: translateX(-10px);
          top: 3rem;
        }
        &:hover {
          .tabletMoreCategory {
            display: block;
            transform: translateX(0px);
          }
        }
      }
      .liDiv-3 {
        .laptopMoreCategory {
          border: 1px solid #dddddd;
          display: none;
          transition: 0.2s all ease-in-out;
          margin-left: 18.1rem;
          transform: translateX(-10px);
          top: 6rem;
        }
        &:hover {
          .laptopMoreCategory {
            display: block;
            transform: translateX(0px);
          }
        }
      }
      .liDiv-4 {
        .watchMoreCategory {
          border: 1px solid #dddddd;
          display: none;
          transition: 0.2s all ease-in-out;
          margin-left: 18.1rem;
          transform: translateX(-10px);
          top: 9rem;
        }
        &:hover {
          .watchMoreCategory {
            display: block;
            transform: translateX(0px);
          }
        }
      }
      .liDiv-5 {
        .accessuarMoreCategory {
          border: 1px solid #dddddd;
          display: none;
          transition: 0.2s all ease-in-out;
          margin-left: 18.1rem;
          transform: translateX(-10px);
          top: 12.2rem;
        }
        &:hover {
          .accessuarMoreCategory {
            display: block;
            transform: translateX(0px);
          }
        }
      }
      .liDiv-6 {
        .equipmentMoreCategory {
          border: 1px solid #dddddd;
          display: none;
          transition: 0.2s all ease-in-out;
          margin-left: 18.1rem;
          transform: translateX(-10px);
          top: 15.2rem;
        }
        &:hover {
          .equipmentMoreCategory {
            display: block;
            transform: translateX(0px);
          }
        }
      }

      ol {
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: 0.2s all ease-in-out;

          i {
            transition: 0.2s all ease-in-out;
          }
        }
        li:hover {
          color: #ff6117;
          i {
            color: #ff6117;
          }
        }
      }
    }
    .allCate {
      transition: 0.2s all ease-in-out;
      color: #000000;
      background-color: hsl(0, 0%, 95%);

      i {
        transition: 0.2s all ease-in-out;
        color: #000000;
      }
    }

    .allCate:hover {
      color: #ffffff;
      background-color: #ff6117;

      i {
        color: #ffffff;
      }
    }
    .allCate .dropDownContent {
      i {
        color: rgb(103, 99, 99);
      }

      margin-top: 21.8rem;
    }

    .allCate:hover .dropDownContent {
      display: block;
    }
    .allCate {
      &:hover {
        .dropDownContent {
          display: block;
        }
      }
    }
  }

  ul {
    .active {
      color: #ff6117;
    }
    .active::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #ff6117;
    }

    li {
      position: relative;
      transition: 0.2s all ease-in-out;
      font-weight: 500;
      font-size: 1.1rem;
    }
    li:hover {
      color: #ff6117;
    }
    li:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #ff6117;
      transition: 0.2s all ease-in-out;
    }
    li:hover:before {
      width: 100%;
    }
  }

  .phonesCate {
    transition: 0.2s all ease-in-out;
  }
  .phonesCate:hover {
    color: #ff6117;
  }
}
