.optionalLink {
    li:nth-child(1) {
      transition: 0.2s all ease-in-out;
      &:hover {
        color: #ff6117;
      }
    }
  }
  
  .registrationDiv {
    .formBox {
      width: 500px;
      display: flex;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
      h1 {
        width: 150px;
        border-bottom: 2px solid #ff6117;
        margin-left: 11rem;
      }
  
      form {
        margin-left: 2rem;
        padding: 10px;
        max-width: 550px;
        input {
          border: 1px solid #dddddd;
          width: 400px;
          padding: 7px;
          margin-bottom: 2rem;
          &:focus {
            outline: none;
          }
        }
  
        p {
          width: 400px;
          line-height: 1.8rem;
        }
  
        #submit {
          margin-top: 2rem;
          width: 400px;
          padding: 10px;
          font-weight: 600;
          color: #ffffff;
          background-color: #ff6117;
          margin-bottom: 2rem;
        }
  
        hr {
          width: 400px;
          margin-bottom: 1rem;
        }
  
        #loginBtn {
          color: #ffffff;
          padding: 2px 10px;
          border-radius: 30px;
          background: rgb(33, 33, 33, 0.7);
          &:hover {
              background: rgb(33, 33, 33, 0.5);
          }
        }
      }
    }
  }
  