main {
    .filter {
      .sort {
        font-size: 1.1rem;
        padding: 10px;
        width: 230px;
        color: gray;
        font-weight: 500;
        border: 1px solid #dddddd;
  
        select {
          width: 200px;
          &:focus {
            outline: none;
          }
        }
      }
      .search {
        padding: 10px;
        border: 1px solid #dddddd;
        width: 400px;
        font-size: 1.1rem;
  
        input {
          width: 350px;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .apple {
      margin-bottom: 5rem;
      text-align: center;
      height: auto;
      .appleProductsContainer {
        gap: 0.6.5rem;
  
        .product {
          padding: 5px;
          width: 13rem;
          min-height: 400px;
  
          .productWarranty {
            position: absolute;
            margin-left: 8.5rem;
            margin-top: 8rem;
          }
  
          .productImg {
            transition: 0.3s all ease-in-out;
            width: 100%;
            height: auto;
          }
          .productImg:hover {
            cursor: pointer;
            transform: scale(106%);
          }
          span {
            transition: 0.2s all ease-in;
          }
          span:hover {
            cursor: pointer;
            color: #ff6117;
          }
          h1 {
            transition: 0.2s all ease-out;
            margin-bottom: 0.5rem;
            height: 65px;
          }
          h1:hover {
            cursor: pointer;
            color: #ff6117;
          }
          button {
            margin-top: 0.5rem;
            padding: 6px 35px;
            border-radius: 30px;
            border: 2px solid #ff6117;
            color: #ff6117;
            font-size: small;
          }
        }
      }
  
      .loadMoreBtn {
        padding: 15px 300px;
        color: #ffffff;
        font-weight: 500;
        border-radius: 30px;
        background-color: #ff6117;
  
        .loadMoreBtnIcon {
          transform: rotate(90deg);
        }
      }
    }
  }
  