main {
    h2 {
        cursor: pointer;
    }

    ul {
        li {
            transition: 0.2s all ease-in-out;

            &:hover {
                cursor: pointer;
                color: #ff6117;
            }
        }
    }
}